{% extends 'layout.html' %}
    {% block content %}
        </section>
        <section class="header">
            <h1>About Me</h1>
            <p>The person behind the code...</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/274876622_10158172430797063_8785130553379669943_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_ohc=Oxxl054aDBcAX8ZOfkL&_nc_ht=scontent-atl3-1.xx&oh=00_AT92KyLEsoIX3Ram1D43xhaoGgNy6KGLCHFn1kLzQ_6YgQ&oe=6266F545" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Adam Pizzo</h2>
            <p>
                Soufflé cupcake cupcake. 
                Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
                Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
                Bonbon tootsie roll gummi bears sugar plum pie croissant. 
                Muffin sweet roll bonbon. 
                Carrot cake gummies cheesecake. 
                Gummi bears powder apple pie. 
                Topping cake powder. 
                Pastry chupa chups caramels.
            </p>
            <p>
                Soufflé cupcake cupcake. 
                Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
                Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
                Bonbon tootsie roll gummi bears sugar plum pie croissant. 
                Muffin sweet roll bonbon. 
                Carrot cake gummies cheesecake. 
                Gummi bears powder apple pie. 
                Topping cake powder. 
                Pastry chupa chups caramels.
            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
    {% endblock %}