{% extends 'layout.html' %}
    {% block content %}
        </section>
        <section class="header">
            <h1>About Me</h1>
            <p>The person behind the code...</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="\static\img\Profile_Picture.jpeg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Adam Pizzo</h2>
            <p>
                East Carolina University graduate.
                Veteran IT leader with a passion for helping others achieve their goals.
                I love the challenge that development brings. You can take an idea and turn it into reality.
                Looking forward to seeing where I can take this in the future.
            </p>
            <p class="bold">Projects In Database:</p>
            <p>{{ total_projects }}</p> 
            <p class="bold">Days Spent From Start To Finish On Projects:</p>
            <p>{{ total_time }}</p>
            <ul class="hobbies bold">My other hobbies include:
                <li>PC Gaming</li>
                <li>Tabletop RPGs</li>
                <li>Board Games</li>
            </ul>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
    {% endblock %}