{% extends 'layout.html' %}
    {% block content %}
        <section class="header">
            <h2>{{ project.title }}</h2>
            <p>Type: {{ project.type }}</p>
            <p>Start Date: {{ project.first_commit.strftime('%m-%d-%Y') }}</p>
            <p>Finished Date: {{ project.last_commit.strftime('%m-%d-%Y') }}</p>
            <a href="{{ project.url_to_project }}" class="github-btn">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <ul class="project-skills">
                    {% for skill in project.skills %}
                    <li><a href="https://www.google.com/search?q={{skill}}" target="_blank"><span>{{skill}}</span></a></li>
                    {% endfor %}
            </ul>
        </section>
        <section id="project-desc">
            <div id="triangle5"></div>
            <h2>Description</h2>
            <p>
                {{ project.description }}
            </p>
            <div id="triangle6"></div>
        </section>
        <section id="edit-delete">
            <a href="{{ url_for('edit_project', id=project.id)}}">
                <i class="fas fa-edit"></i>
                Edit
            </a>
            <a href="#">
                <i class="far fa-trash-alt"></i>
                Delete
            </a>
        </section>
    {% endblock %}