{% extends 'layout.html' %}
    {% block content %}
    <section class="header">
        <h1>Fullstack Developer</h1>
        <p>Development Enthusiast. Nerd. Python Person.</p>
        <img src="\static\img\Profile_Picture.jpeg" alt="Headshot of myself">
    </section>
    <section id="about">
        <a href="{{ url_for('about') }}"><h2>About Me</h2></a>
        <p>
            East Carolina University Graduate. Team Treehouse Student.
            I'm utilizing my coding skills to augment my 
            repertoire and provide better ways to handle
            day to day operations in the IT Field. 
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            {% for items in skill_set %}
            <li><a href="https://www.google.com/search?q={{items}}" target="_blank">{{items}}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner .col-10 .mx-auto">
                {% for project in project_df%}
                    {% if project.id==1 %}
                    <div class="carousel-item active" data-bs-interval="10000">
                    {% else %}
                    <div class="carousel-item" data-bs-interval="5000">
                    {% endif %}
                        <div class="card">
                            <h3 class="card-header d-flex flex-column align-items-center justify-content-center"><a href={{ url_for('project_detail', id=project.id) }} target="_blank"><span>{{ project.title }}</span></a></h3>
                            <div class="card-body d-flex flex-column align-items-center justify-content-evenly">
                                <p class="card-text flex-grow-1">{{ project.description }}</p>
                                <a href="{{ project.url_to_project }}" class="github-btn flex-shrink-1" target="_blank">
                                    <i class="fab fa-github"></i>
                                    View on GitHub
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            Feel free to contact me at my personal e-mail address below.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            adampizzo@icloud.com
        </p>
        <p>
            Also check out the links to my socials below.
        </p>
        <i class="arrow bounce fas fa-10x fa-angle-double-down"></i>
    </section>
    
    
{% endblock %}