{% extends 'layout.html' %}
    {% block content %}
    <section class="header">
        <h1>Add Project</h1>
    </section>
    <section id="form">
        <form action="{{ url_for('create_project') }}" method="POST">
            
            <ul class="form-outer">
                <li>
                    <label for="title">Project Title:</label>
                    <input class="form-input" type="text" name="title" id="title" placeholder="Project Name" required>                    
                </li>
                <li>
                    <label for="type">Type of Project:</label>
                    <select name="type" id="type">
                        <option value="Practice">Practice</option>
                        <option value="Project">Project</option>
                        <option value="Tutorial">Tutorial</option>
                    </select>
                </li>
                <li>
                    <p>Does your project utilize GitHub?</p>
                    <section class="radio-check">
                        <div>
                            <label for="git-yes">Yes</label>
                            <input type="radio" name="git-choice" id="git-yes" value="Yes">                            
                        </div>
                        <div>
                            <label for="git-no">No</label>
                            <input type="radio" name="git-choice" id="git-no" value="No">
                        </div>
                    </section>
                </li>
                <li>
                    <label for="date_started" hidden>Start Date:</label>
                    <input class="form-input" type="date" name="date_started" id="date_started" required hidden>
                </li>
                <li>
                    <label for="date_finished" hidden>Finish Date:</label>
                    <input class="form-input" type="date" name="date_finished" id="date_finished" required hidden>
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" cols="30" rows="20" placeholder="Description" required></textarea>
                </li>
                <li>
                    <label for="skills-list" id="skills-label">Skills:</label>
                    <p>Separate each skill by a comma</p>
                    <textarea name="skills" id="skills-list" cols="30" rows="10" placeholder="Skill, Skill" required></textarea>
                </li>
                <li>
                    <label for="github">GitHub Link:</label>
                    <input class="form-input" type="url" name="github" id="github" placeholder="Link to the repo" required>
                </li>
            </ul>
            <div>
                <button type="reset">Clear</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
{% endblock %}