{% extends 'layout.html' %}
    {% block content %}
    <section class="header">
        <h1>Edit Project</h1>
    </section>
    <section id="form">
        <form action="{{ url_for('edit_project', id=project.id) }}" method="POST">
            <label for="title">Project Title:</label>
            <input type="text" name="title" id="title" placeholder="Project Name" value="{{ project.title }}" required>
            <label for="type">Type of Project:</label>
            <select name="type" id="type">
                <option value="Practice" {% if project.type == 'Practice' %} selected {% endif %}>Practice</option>
                <option value="Project" {% if project.type == 'Project' %} selected {% endif %}>Project</option>
                <option value="Tutorial" {% if project.type == 'Tutorial' %} selected {% endif %}>Tutorial</option>
            </select>
            <label for="first_commit">First Commit Date:</label>
            <input type="date" name="first_commit" id="first_commit" value="{{ project.first_commit }}" required>
            <label for="last_commit">Last Commit Date:</label>
            <input type="date" name="last_commit" id="last_commit" value="{{ project.last_commit }}" required>
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="20" placeholder="Description" required>{{ project.description }}</textarea>
            <label for="skills-list" id="skills-label">Skills:</label>
            <p>Separate each skill by a comma</p>
            <textarea name="skills" id="skills-list" cols="30" rows="10" placeholder="Skill, Skill" required>{{ project.skills }}</textarea>
            <label for="github">GitHub Link:</label>
            <input type="url" name="github" id="github" placeholder="Link to the repo" value="{{ project.url_to_project }}"required>
            <div class="d-flex justify-items-evenly ">
                <button class="flex-grow-1 col-3 px-0 mx-1" type="reset">Reset</button>
                <button class="flex-grow-1 col-3 px-0 mx-1" type="submit">Submit</button>
                <a href="{{ url_for('project_detail', id=project.id)}}" class="btn btn-primary flex-grow-1 col-3 px-0 mx-1">Back</a>
            </div>
        </form>
    </section>
{% endblock %}